body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5vh;
}

#canvas {
    width: 85vw;
    height: 85vh;
    background:whitesmoke;
    border: 1px solid gray;
}